.customer_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 2%;
  }

  .heading_row{
    background-color: #dddddd;
  }

  tr{
    border-bottom : 1px solid rgb(189, 188, 188);
  }

@media screen and (max-width: 760px) {
    td, th{
        font-size: 2.5vw;
    }
}
