.main-header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
  width: 100%;
}

.logo {
  width: 11em;
  cursor: pointer;
}

.profile {
  width: 4em;
}

.headerimage {
  border-radius: 10px;
}