:root{
    --primary-heading-web:5rem;
    --primary-heading-mobile:3rem;
    --secondary-heading-web:4rem;
    --secondary-heading-mobile:2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
p{
    color: slategray;
    font-size: 1.2em;
}

/* header styles start here */
.header{
    display: flex;
    justify-content: space-between;
    margin: 1% 3%; 
 }
 
.logo{
    width: 11em;  
}
.profile{
    width: 4em;
}
.headerimage {
    border-radius: 10px;
}

/* header styles end here */
