/* Adding styles for  hotel-details page */
/* Section 1 styling --------------------------Starts here -------------------- */
.image-section{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: repeat(2,250px);
    grid-gap: 0.5em;
    
}
/* styles for every image inside class - .grid-content  */
.grid-content>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
/* positioning images inside the grid */
.image-01{
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start: 1;
    grid-column-end:3 ;
}
.image-02{
    grid-column-start: 3;
    grid-column-end: 5;
}
.image-04{
    position: relative;
}
/* adding an overlay over image to display text - view all - (no functionalities added for now) */
.overlay-container{
    display: flex;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    color: white ;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    opacity: 1;
}
/* .overlay-container:hover{
    opacity: 1;
} */

/* Map PopUP Starts here */
.map-container1{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
}
#mapContainer{
    width: 500px;
    height: 450px;
}
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    border: 1px solid #ccc;
    border-radius: 2%;
    background-color: white;
}
.popup h2{
  margin-left: 10px;
}
.close{
    position: absolute;
    cursor: pointer;
    right: 10px;
}
.view-map{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width:180px;
    height: auto;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 5px;
    color: white;
    background-color: rgb(98, 98, 207);
    text-align: center;
}
/* Map PopUP Ends here */
/* Section 1 styling --------------------------Ends here -------------------- */


/* Section 2 styling --------------------------Starts here -------------------- */

.section-about{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 20px;
  }
  
  .section-about h5{
    margin-top: 0px;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  h5::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d0c1c1;
    margin-top: 10px;
  }
  
  .icons{
    display: flex;
    margin-top: 15px;
  }
  .image-box{
    display: inline-block;
    width: 25px;
    padding: 15px;
    margin-right: 15px;
    background-color: #ccc;
    border-radius: 10px;
  }
  .image-box:hover{
    background-color: antiquewhite;
  }
  .icons img{
    width: 25px;
    height: auto;
  }
  .section-about p{
    margin-bottom: 10px;
    color: #898484;
  }
  .section-about h1{
  font-size: 1.4rem;
  margin: 5px 0;
  }
  .advantages{
    margin: 10px 0;
    color: #898484;
  }
  .advantages img{
    margin-right: 5px;
    size: 12px;
  }
  .section-amenities{
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    padding: 20px;
  }
  .section-amenities h5{
    margin-top: 0px;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  h5::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d0c1c1;
    margin-top: 10px;
  }
  .full-content{
    display: flex;
  }
  .right-content{
    margin-left: 40%;
  }
  .activity-content {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #898484;
  }
  .activity-content img{
    margin-right: 5px;
  }
  .full-content h1 img{
    margin-right: 5px;
  }
  .full-content h1{
    margin-bottom:5px;
  }
  .left-content h1,
  .right-content h1{
   font-size: 1.3rem;
   margin-top: 0px;
  }
  .left-content>div:nth-child(2){
    margin-top: 10px;
  }
  .right-content>div:nth-child(2){
    margin-top: 25px;
  }
  .right-content>div:last-child{
    margin-top: 25px;
  }
/* Section 2 styling --------------------------Ends here -------------------- */




/* styling the hotel options section begins here----------------------------*/

/* styling the parent container of hotel options */
.parentcontainer{
  margin-bottom: 5%;
}

/* styling the main container */
.hotel-detail-maincontainer {
  /* width: 1320px; */
  height: auto;
  /* border: 2px solid #ccc; */
  box-shadow: 5px 5px 5px 5px rgba(116, 115, 115, 0.5);
  display: flex;
  border-radius: 10px;   
  margin:2%;
}

.room-options-heading-div{
  margin:2%;
}

/* styling the container containing the image in the left */
.hotel-detail-leftcontainer{
  width: 40%;
  box-sizing: border-box;
  padding:1%;
  position:relative;
}

/* styling the first leftcontainer image */
/* #first-leftcontainer-image{
  position: relative;
} */

/* styling the offerdiv div */
.offer-div{
  position: absolute;
  width:20%;
  background-color: red;
  color: white;
  top:40px;
  left:35px;
  border-radius: 7px;
  box-sizing: border-box;
  text-align: center;
  padding:8px;
}

/* styling the image in the left */
.container-image{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* styling the container in the right containing the text */
.hotel-detail-rightcontainer{
  width: 60%;
  box-sizing: border-box;
  padding: 1%;
  position: relative;
}

/* styling the h3 inside the section1 of the right container */
.rightcontainer-section1 h3{
  margin-top:0rem;
  margin-bottom: 0rem;
}

/* styling the right container's a tag */
.rightcontainer-section1 ul li a{
  text-decoration: none;
}

.rightcontainer-section1{
  padding-left:0%;
  margin-left:0%;
  margin-bottom: 30%;
}

/* styling the p inside the section1 of the right container */
.rightcontainer-section1 p{
  margin-top:0.2rem;
  margin-bottom: 0rem;
}

/* styling the first li of ul inside section1 of right container */
.rightcontainer-section1 ul li:first-child{
  list-style: none;
}

/* styling the ul tag inside the right container */
.rightcontainer-section1 ul{
  display: flex;
  gap: 7%;
  flex-wrap: wrap;
  padding-left: 0px;
  text-align:start;
  margin-top:1rem;
  margin-bottom:0.5rem;
  width:100%;
}

/* styling the container containing the price and button in the last section of the right container*/
.rightcontainer-section2{
  display: flex;
  justify-content: space-between;
  position:absolute;
  bottom:0px;
  width:95%;
  margin-bottom: 2%;
}

/* styling the select room button in the last section of the right container */
.Select-room-button{
  box-sizing: border-box;
  border-radius: 10px;
  width: 20%;
  background-color: rgb(100, 100, 240);
  color: white;
  cursor: pointer;
  padding:1%;
  border: none;
}

/* 
styling the container containg the toggle buttons */
.toggle-button-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:0.5%;
  margin:3%;
}
/* styling the hotel options section ends here----------------------------*/

/* styling the hotel policies section begins here----------------------------*/
/* styling the hotel policies maincontainer */
.hotel-options-content{
  margin:2%;
}

/* styling the hotel policies content */
.hotel-options-content{
  line-height: 2rem;
  text-align: justify;
}


/* styling the hotel policies main container */
.hotel-policies-maincontainer{
  margin-bottom: 2%;
}
/* styling the hotel policies section ends here----------------------------*/




  /*  adding media queries for screen widths equal or less than 760px screen widths  */
  @media screen and (max-width:760px){
    .image-section{
      display: grid;
      grid-template-columns: repeat(2,1fr); 
      grid-template-rows: repeat(4,250px);
      grid-gap: 0.5em;
      
  }
  .image-01{
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start: 1;
    grid-column-end:3 ;
}
.image-02{

  grid-row-start: 3;
  grid-row-end:4 ;
  grid-column-start: 1;
  grid-column-end: 3;
}
    
  }


