/* Styles for Section - 01 in landing page --------Starts Here---------- */
.section-1 {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#discoverbutton {
    color: blue;
    background-color: lightcyan;
    border-radius: 10px;
    height: 8%;
    width: 25%;
    font-size: large;
    border: 0px;
}

#section1_image {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.section1_parent-div {
    width: 45%;
    max-height: 100%;
}
.section1_parent-div>h1{
    font-size: var(--primary-heading-web);
}

/* style for rounded images on the left-edge of image */
.section1-ParentImage {
    position: relative;
}
.section1-innerimage > img {
    position: absolute;
    border: 2px solid white;
}
.section1-innerimage > img:nth-child(1) {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 40px;
    left: -25px;
}
.section1-innerimage > img:nth-child(2) {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    top: 140px;
    left: -40px;
}

/* Styles for Section 01 in Landing page ---------Ends Here------------------ */


/* Styles for whole section2 container --------------Starts Here-----------------*/
.section2{
    display: flex;
    margin: 3%;

}

/* left and right divisions of section2 */
.section2-div{
    width: 50%;
    margin: 10px;
}
.right-content >h1:first-child{
    font-size: var(--secondary-heading-web);
}
.left-image{
    padding-right: 10%;
}
/* styles to obtain the likes and ratings over the left side of section two */
/* Likes and Ratings styles-------------------------- start here ------------ */
.left-image{
    position: relative;
}

.likes-display{
    box-sizing: border-box;
    position: absolute;
    background-color:aliceblue;
    width: 50%;
    height: 18%;
    bottom: 4%;
    left: 6%;
    border-radius: 10px;
}
.outer-image{
    position: relative;
}

.outer-image>img{
    width: 18%;
    position: absolute;
    left : -10%;
    top: -25px;
}

.client-rating-display{
    display: flex;
}
.client-rating-display>div:nth-child(1){
    box-sizing: border-box;
    padding-left: 10%;
    width: 75%;
    position: relative;
}
.ratings{
    padding-right: 5%;
    width:25%;
}
.ratings i{
    color: #fff700;
}
.inner-images{
    position: relative;
}
.inner-images>img{
    border-radius: 100%;
    width: 20%;
    position: absolute;

}
/* positioning of images in client rating display ------- */
.inner-images>img:nth-child(1){
    top:0;
    left:0px;
    z-index: 1;
}
.inner-images>img:nth-child(2){
    top:0px;
    left:14%;
    z-index: 2;
}
.inner-images>img:nth-child(3){
    top:0px;
    left:28%;
    z-index: 3;
}
.inner-images>img:nth-child(4){
    top:0px;
    left:42%;
    z-index: 4;
}
/* --------------Likes and Rating Styles end here ---------------*/

/* Right division of the section */
.adImage{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

/* to display the highlighting services in grid format */
.inner-grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row: inherit;
    gap: 5px;
    /* margin: 5% 0; */
}
/* to have a circular background for icons displayed*/
.grid-content>.fa-solid{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-top: 8%;
}

/* to change the color of icons and faded background for icons Starts here ----------- */
.fa-utensils{
    color: rgb(51, 225, 222);
    background-color: rgba(51, 225, 222,0.2);
}
.fa-stopwatch{
    color : rgb(223, 58, 82);
    background-color: rgba(223, 58, 82,0.2);;

}
.fa-shield{
    color:rgb(226, 81, 3);
    background-color: rgba(226, 81, 3,0.2);

}
.fa-bolt{
    color : rgb(48, 253, 185);
    background-color: rgba(48, 253, 185,0.2);;
}
/* icons with fadded background style ends here */



/* Section 2 Styling --------------------------Ends Here--------------------------------------- */
/* Section 3 Styling --------------------------Starts Here--------------------------------------- */

/* style for destop version */
.section-3{
    height: auto;
    text-align: center;
    padding: 1% 0;
  }
  
  /* container contains all the images */
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1% auto;
  }
  
  h2{
    font-size: 2rem;
  }
  
  /* style for the image container*/
  .card{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 23%;
    margin: 1%;
  }
  
  .card img{
    max-width: 100%;
    max-height: auto;
    border-radius: 4%;
  }
  
  .hotel-img{
    position: relative;
  }
  
  /* style for the button inside the img */
  .location-btn{
    position: absolute;
    padding: 2% 4%;
    border-radius: 15px;
    background-color: black;
    color: white;
    bottom: 5%;
    left: 2%;
  }
  
  .card h3{
    margin: 5px 0 0 0;
    color: black;
    text-align: left;
  }
  
  h4{
    margin: 0;
  }
  
  /* style for figure caption */
  .fig-caption{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
  }
  
  .fig-caption>h4:first-child{
    color: aquamarine;
  }
  
  .fig-caption .rate{
    color: aqua;
  }
  
  .fig-caption .rating{
    color: black;
    margin-right: 1em; 
  }
  
  .star{
    width: 13px;
  }
/* Section 3 Styling --------------------------Ends Here--------------------------------------- */
  

/* Section 4 Styling --------------------------Starts Here--------------------------------------- */
/* section4 testimonials section styling */

/* section4 testimonial-1 and testimonial-2 begins */
/* section4 containing testimonials */
/* section4 testimonial-1 begins */
.section4_section{
    box-sizing: border-box;
    display: flex;
    flex-basis: 50%;
    width:1320px;
    margin:50px auto;
    align-items: center;
    gap:5%;
}

.section4_left_img_div{
    width:50%;
    flex-basis: 50%;
    display: flex;
    flex-flow: wrap;
    justify-content: right;
}

/* testimonial image styling */
.section4_left_img{
    width:60%;
    border-radius: 5%;
    position:relative;
}

/* left division sub image styling */
.section4_left_sub_img{
    width:35px;
    position: absolute;
    left: 22.3%;
    top:12%;
}


/* testimonial right div element styling */
.section4_right_text_div{
    width:50%;
}

/* testimonial right div element paragraph styling */
.section4_right_text_div_p{
    line-height: 20px;
    font-size: 15px;
    color:black;
}

/* star icon styling */
.rating_star{
    width:12px;
}

/* double quote icon styling */
.double-quote{
    width:30px;
    margin-left: 4%;
}

/* customer occupation styling */
.section4_customer_occupation{
    color:rgb(158, 154, 154);
    margin-top:0rem;
    margin-bottom:0rem;
    font-size: 11px;
}

/* customer name sytling */
.section4_customer_name{
    margin-top:0rem;
    margin-bottom:0rem;
    font-size: 12px;
    color:black;
}

/* third paragraph in right div styling for testimonial-1*/
#section4_right_text_div_p3_1{
    margin-bottom: 0.5rem;
}
/* section4 testimonial-1 ends */



/* section4 testimonial-2 begins */
/* third paragraph in right div styling for testimonial-2*/
#section4_right_text_div_p3_2{
    margin-bottom: 0.5rem;
}
/* section4 testimonial-2 ends */

/* section4 testimonial-1 and testimonial-2 ends */
/* Section 4 Styling --------------------------Ends Here--------------------------------------- */