@media screen and (max-width: 760px) {
    /* Media Queries for Section 1 (for devices with 760px or lesser screen size) - Landing page ---------starts here --------- */

    .section1_parent-div {
        width: 100%;
    }

    .section1-ParentImage {
        width: 85%;
        padding-left: 10%;
    }

    .section1_parent-div>h1{
        font-size: var(--primary-heading-mobile);
    }

    .section1-innerimage > img:nth-child(1) {
        top: 10%;
        left: 5%;
    }

    .section1-innerimage > img:nth-child(2) {
        top: 30%;
        left: 2%;
    }

    #discoverbutton {
        width: 30%;
        font-size: larger;
        border: 0px;
    }

    .section-1 {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* Media Queries for Section 1 (for devices with 760px or lesser screen size) - Landing page ---------Ends here ---------  */

/* adding media queries for screen widths equal or less than 760px */

    .section2,.inner-grid-container{
        display: flex;
        flex-direction: column;
    }
    .section2-div{
        width: 100%;
    }
    .right-content >h1:first-child{
        font-size: var(--secondary-heading-mobile);
    }

}

