@media screen and (max-width: 760px) {
    /* Media Queries for Section 1 (for devices with 760px or lesser screen size) - Landing page ---------starts here --------- */

    .section1_parent-div {
        width: 100%;
    }

    .section1-ParentImage {
        width: 85%;
        padding-left: 10%;
    }

    .section1_parent-div>h1{
        font-size: var(--primary-heading-mobile);
    }

    .section1-innerimage > img:nth-child(1) {
        top: 10%;
        left: 5%;
    }

    .section1-innerimage > img:nth-child(2) {
        top: 30%;
        left: 2%;
    }

    #discoverbutton {
        width: 30%;
        font-size: larger;
        border: 0px;
    }

    .section-1 {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* Media Queries for Section 1 (for devices with 760px or lesser screen size) - Landing page ---------Ends here ---------  */

/* adding media queries for screen widths equal or less than 760px -----------Section 2-----------------Starts here-----------------*/

    .section2,.inner-grid-container{
        display: flex;
        flex-direction: column;
    }
    .section2-div{
        width: 100%;
    }
    .right-content >h1:first-child{
        font-size: var(--secondary-heading-mobile);
    }


  /* Section 2 mobile view styles ------------------------------End------------------------------------- */


    /* Section 3 mobile view styles --------------start----------------------- */


    /* style for mobile version */
.section-3{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 0.5%;
  }
  .section-3>h2:first-child{
    font-size: var(--secondary-heading-mobile);
  }
  .section3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px auto 1px auto;
  }
  .card{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    padding: 1%;
  }
  .card img{
    max-width: 100%;
    max-height: 100%;
  }


  .hotel-img{
    width: 100%;
    position: relative;
  }

  .hotel-img img{
    border-radius: 4%;
    width: 100%;
  }
  .location-btn{
    position: absolute;
    width: auto;
    height: auto;
    left: 5%;
    bottom: 5%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: black;
  }
  .location-btn i{
    margin-right: 5px;
  }
  .card h3{
    margin: 10px 0 0;
    color: black;
  }
  .fig-caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
    margin-top: 5px;
  }
  .fig-caption h4{
    margin: 0;
    color: aquamarine;
    text-align: left;
  }
  .fig-caption .rating{
    margin-left: 10px;
    color: black;
  }
  .rate{
    color: rgb(0, 255, 255);
  }
  .star{
    width: 12px;
  }
  /* Section 3 mobile view styles --------------End----------------------- */


  /* Section 4 mobile view styles --------------Starts----------------------- */

  /* section4 testimonials section styling */

/* section4 testimonial-1 and testimonial-2 begins */
/* section4 containing testimonials */
/* section4 testimonial-1 begins */
.section4_section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:20x auto;
}

/* styling the parent of the left images */
.section4_left_img_div{
  position: relative;
}

/* testimonial image styling */
.section4_left_img{
  width: 100%;
  height:100%;
  border-radius: 5%;    
  margin-left:0.5rem;
}

/* left division sub image div styling */
.section4_left_sub_img_div{
  width:3rem;
  height:3rem;
  position: absolute;
  left: -2rem;
  top:2rem;
  border:none;
  z-index:2;
  border-radius:5px;
  padding:1%;
  background-color: orange;
}

/* testimonial right div element styling */
.section4_right_text_div{
  margin-left:3%;
  margin-top:0.5rem;
}

/* third paragraph in right div styling for testimonial-1*/
#section4_right_text_div_p3_1{
  margin-bottom: 1rem;
}

/* customer name sytling */
.section4_customer_name{
  margin-top:0.5rem;
  margin-bottom:0rem;
  font-size: 12px;
  color: black;
}

/* customer occupation styling */
.section4_customer_occupation{
  color:rgb(158, 154, 154);
  margin-top:0.3rem;
  margin-bottom:0rem;
  font-size: 11px;
}

/* double quote icon styling */
.double-quote{
  width:30px;
  margin-left: 2%;
}

/* testimonial right div element paragraph styling */
.section4_right_text_div_p{
  /* line-height: 90%; */
  font-size: 1rem;
  width:100%;
}
/* section4 testimonial-1 ends */



/* section4 testimonial-2 begins */
/* third paragraph in right div styling for testimonial-2*/
#section4_right_text_div_p3_2{
  margin-bottom: 1rem;
}
/* section4 testimonial-2 ends */

/* section4 testimonial-1 and testimonial-2 ends */
/* Section 4 mobile view styles --------------Ends----------------------- */



/* footer section styling begins here ------------------------------------*/

footer{
  width: 100%;
  background-color: rgb(32, 31, 31);
  box-sizing: border-box;
  padding:25px;
  
}

/* styling the div containing the logo and sub texts */
.first-footer-div{
  width: 100%;
}

/* styling the div containing set of lists */
.list-div{
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.list-footer{
  width:40%;
}

.footersection{
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer ul{
  padding:0rem;
}

/* styling the top links div */
.footer-top-links-div{
  padding-right: 10px;
}

/* styling the a tag inside top links div */
.footer-top-links-a{
  margin-right:15px;
  line-height: 30px;
}

/* styling the div containg payment and follow us part */
.footer-bottom-div{
  display: flex;
  flex-direction: column;
}

/* styling the h3 tag inside follow us */
#footer-follow-us-h3{
  padding-left:0%;
}
/* footer section styling ends here ---------------------------------*/

}




