@media screen and (max-width: 760px) {
    /* Media Queries for Section 1 (for devices with 760px or lesser screen size) - Landing page ---------starts here --------- */

    .section1_parent-div {
        width: 100%;
    }

    .section1-ParentImage {
        width: 85%;
        padding-left: 10%;
    }

    .section1_parent-div>h1{
        font-size: var(--primary-heading-mobile);
    }

    .section1-innerimage > img:nth-child(1) {
        top: 10%;
        left: 5%;
    }

    .section1-innerimage > img:nth-child(2) {
        top: 30%;
        left: 2%;
    }

    #discoverbutton {
        width: 30%;
        font-size: larger;
        border: 0px;
    }

    .section-1 {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    /* Media Queries for Section 1 (for devices with 760px or lesser screen size) - Landing page ---------Ends here ---------  */

/* adding media queries for screen widths equal or less than 760px */

    .section2,.inner-grid-container{
        display: flex;
        flex-direction: column;
    }
    .section2-div{
        width: 100%;
    }
    .right-content >h1:first-child{
        font-size: var(--secondary-heading-mobile);
    }


    /* Section 3 mobile view styles --------------start----------------------- */


    /* style for mobile version */
.section-3{
    width: 100%;
    height: 600px;
    text-align: center;
    margin: auto;
    padding-top: 0.5%;
  }
  h2{
    font-size: 2rem;
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px auto 1px auto;
  }
  .card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    position: relative;
    margin: 1%;
  }
  .card img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 4%;
  }
  .hotel-img{
    position: relative;
  }
  .location-btn{
    position: absolute;
    width: auto;
    height: auto;
    left: 5%;
    bottom: 5%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: black;
  }
  .card h3{
    margin: 10px 0 0;
    color: black;
  }
  .fig-caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
    margin-top: 5px;
  }
  .fig-caption h4{
    margin: 0;
    color: aquamarine;
    text-align: left;
  }
  .fig-caption .rating{
    margin-left: 10px;
    color: black;
  }
  .rate{
    color: rgb(0, 255, 255);
  }
  .star{
    width: 12px;
  }

}

    /* Section 3 mobile view styles --------------End----------------------- */


