/* styles for container */
.checkinCheckoutContainer {
    display: flex;
    flex-wrap: wrap;
  }
  /* styles for every div under the container - flex grow , flex shrink and flex basis shorthand */
  .cols {
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 0 15px;
  }
  /* styles for labels inside container */
  .dateLabels {
    font-size: 16px;
    margin:  10px 0;
    display: block;
    color: rgba(0,0,0,0.7);
  }
  /* style to have red astricks on lables that are marked required */
  .required::after{
      content: '*';
      color: red;
      margin-left: 4px;
  }
  
  /* styles for input fields within a form container */
  .dateInputs{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }