/* styles for the two parent divisions in room detail that contain images and hotel description  */
.hotel_detail {
    display: flex;
    gap: 5%;
    margin: 20px 0;
  }
  /* styles for the left division containing the images of hotel */
  .left_img_division {
    width: 50%;
  }
  /* styles for the right division containing the short description  of hotel */
  .right_hotel_detail_division {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
  /* styles for the facilities listed on right division of room detail container */
  .topFacilitiesContainer {
    display: flex;
    gap: 5%;
  }
  /* styles for icons container in facilities list --- right division of room detail popup */
  .iconContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  /* styles for icons in icon container --- right division of room detail popup */
  .icons {
    padding: 15px;
    color: rgba(43, 39, 241, 0.707);
    background-color: rgba(192, 192, 192, 0.4);
    border-radius: 5px;
  }
  /* styles for images inside the left parent division --- parent container of every image in that grid */
  .left_img_division {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  /* styles for images inside the left parent division -- displaying images in grid form */
  .left_img_division > img {
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
  }
  /* styles for container containing the increase decrease and count of rooms */
  .room_quantity {
    background-color: rgba(43, 39, 241, 0.707);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 8px;
    color: white;
  }
  /* styles for increment and decrement button */
  .no_border_button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: white;
    margin: 0 10px;
    width: 15px;
  }
  /* styles for the input that display the quantity of rooms user wants to select */
  .no_border_input {
    border: none;
    background: none;
    color: white;
    box-sizing: border-box;
    padding-left: 5px;
    width: 15px;
  }
  
  @media screen and (max-width: 760px) {
    .hotel_detail{
      flex-direction: column;
    }
    .left_img_division {
    width: 100%;
  }
  .right_hotel_detail_division{
    width: 100%;
  }
    
  }
  