/* Adding styles for  hotel-details page */
/* Section 1 styling --------------------------Starts here -------------------- */

/* defining grid layout */
.image-section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    grid-gap: 0.5em;
  }
  /* styles for every image inside class - .grid-content  */
  .grid-content > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  /* positioning images inside the grid */
  
  /* first image positioning in grid */
  .image-01 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  
  /* second image positioning in grid */
  .image-02 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  /*styles added - In order to achieve the overlay effect displaying option as viewall option */
  .image-04 {
    position: relative;
  }
  .image-section img:hover {
    opacity: 0.9;
  }
  /* adding an overlay over image to display text - view all - (no functionalities added for now) */
  .overlay-container {
    display: flex;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    opacity: 1;
  }
  .overlay-container:hover{
    background-color: rgba(0, 0, 0, 0.6);
      
  }
  
  /* Map PopUP Starts here */
  .map-container1 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
  }
  #mapContainer {
    width: 500px;
    height: 450px;
  }
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 1px solid #ccc;
    border-radius: 2%;
    background-color: white;
  }
  .popup h2 {
    margin-left: 10px;
  }
  .close {
    position: absolute;
    cursor: pointer;
    right: 10px;
  }
  .view-map {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 180px;
    height: auto;
    border-radius: 10px;
    margin-left: 300px;
    margin-right: 5px;
    color: white;
    background-color: rgb(98, 98, 207);
    text-align: center;
  }
  /* Map PopUP Ends here */
  /* Section 1 styling --------------------------Ends here -------------------- */