
.room {
  display: flex;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.room:hover{
  box-shadow: 3px 3px 10px slategray;
}

.container-image {
  width: 50%;
  border-radius: 10px;

}

.container-image img {
  width: 96%;
  height: 96%;
  padding: 1%;
  border-radius: 15px;
}

.hotel-detail-rightcontainer {
  padding: 2%;
}

ul {
  display: flex; 
  list-style: none;
}

li {
  padding-left: 0.5rem;
}

.Select-room-button {
  box-sizing: border-box;
  border-radius: 10px;
  width: 20%;
  background-color: rgb(100, 100, 240);
  color: white;
  cursor: pointer;
  padding:3%;
  border: none;
  float: right;
          }

.Select-room-button:hover {
  background-color: #45a049;
}