.main_container {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 5% auto;
}

.email_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 2%;
}

.password_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 2%;
}

.submit_button {
    margin: 2%;
    padding: 2%;
    width: 100%;
    background-color: rgb(71, 71, 221);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.email_field {
    padding: 2%;
    outline: 10px;
    /* border-radius: 5px; */
}

.password_field {
    padding: 2%;
    outline: 10px;
    /* border-radius: 5px; */
}

.logo {
    width: 50%;
    margin: 2% auto;
}

@media screen and (max-width: 760px) {
    .main_container {
        width: 100%;
    }
}
