/* footer section styling begins here */
/* styling the div containing the logo and sub texts */

/* styling the entire footer */
.footer-container{
    width: 100%;
    background-color: rgb(32, 31, 31);

}
footer{
    max-width: 1320px;
    margin: auto;
    background-color: rgb(32, 31, 31);
    box-sizing: border-box;
    padding-left:25px;
    padding-top:25px;
    padding-bottom:25px;
    padding-right:25px;
 }


.first-footer-div{
    display: flex;
    flex-direction: column;
    width: 30%;
 }

 /* styling the logo */
 .footerlogo{
    width: 35%;
    margin-bottom: 5%;
 }

 .footersection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

  /* styling the div containing set of lists */
.list-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:70%;
}

/* styling the div containg the ul */
.list-footer{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    max-width: fit-content;
}

 /* styling to remove text decoration on a tag */
 footer a{
    text-decoration: none;
    color:rgb(212, 209, 209);
 }

 /* applying style to li tag */
 footer ul li{
    list-style: none;
    line-height: 30px;
 }

 /* applying style to h3 tag */
 footer h3{
    color: white;
 }

 .footersection>p{
    color:rgb(212, 209, 209);
    margin-top:0rem;
    margin-bottom: 0rem;
    line-height: 20px;
 }


/* styling the top links div */
.footer-top-links-div{
    padding-right:5%;
}

/* styling the h3 tag inside top links div */
#footer-top-links-h3{
    margin-bottom: 0.5rem;
}

/* styling the a tag inside top links div */
.footer-top-links-a{
    margin-right:25px;
    line-height: 30px;
}

/* styling the div containg payment and follow us part */
.footer-bottom-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

/* styling the payment and security div */
.footer-payment-and-security-div{
    display: flex;
    gap:3%;
    flex-direction: column;
    width:100%;
    flex-wrap: wrap;
}

/* styling the payment and security icons div */
.ps-icons{
    display: flex;
    gap:4%;
}

/* styling the follow us div */
.footer-follow-us-div{
    display: flex;
    gap: 2%;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
    flex-wrap: wrap;
}

/* styling the follow us icons div */
.fu-icons{
    display: flex;
    width: 100%;
    gap: 4%;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

/* styling footer copyright text */
#footer-copyright-text{
    text-align: center;
}

footer a:hover{
    text-decoration: underline;
    color: white;
    
}
/* footer section styling ends here */