
/* styling the main container */
.hotel_list_maincontainer {
    /* width: 1320px; */
    height: auto;
    /* border: 2px solid #ccc; */
    box-shadow: 5px 5px 5px 5px rgba(116, 115, 115, 0.5);
    display: flex;
    border-radius: 10px;
    margin: 0 2% 2% 2%;
}
.hotel_list_maincontainer:hover {
    background-color: aliceblue;
    box-shadow: 5px 5px 10px black;
}

/* styling the container containing the image in the left */
.hotel_list_leftcontainer {
    width: 40%;
    box-sizing: border-box;
    padding: 0.5%;
    position: relative;
}

/* 
styling the first leftcontainer image  */
#first_leftcontainer_image {
    position: relative;
}

/* styling the offerdiv div */
.offer_div {
    position: absolute;
    width: 20%;
    background-color: red;
    color: white;
    top: 25px;
    left: 20px;
    border-radius: 7px;
    box-sizing: border-box;
    text-align: center;
    padding: 8px;
}

/* styling the image in the left */
.container_image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* styling the container in the right containing the text */
.hotel_list_rightcontainer {
    width: 60%;
    box-sizing: border-box;
    padding: 2%;
    position: relative;
}

/* styling section1 of the right container containing ratings and two other icons */
.rightcontainer_section1 {
    display: flex;
    height: auto;
    justify-content: space-between;
    margin-bottom: 0px;
}

/* styling the ratings in section1 */
.rightcontainer_section1 > article:nth-child(1) {
    width: 80%;
}

/* styling the two icons in section1 */
.rightcontainer_section1 > article:nth-child(2) {
    width: 20%;
}

/* styling the container containing the two icons in the section1 of right container */
.iconcontainer_main {
    display: flex;
    /* justify-content: space-evenly; */
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: right;
    gap: 12%;
    width: 100%;
    height: 100%;
}

/* star icon styling */
.rating_star{
    font-size: x-large;
    color : #FDCC0D;
}

/* styling each of the two icons in the section1 of right container */
.iconcontainer {
    width: 4%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(230, 227, 227, 0.5);
    padding: 10%;
    cursor: pointer;
}
.hearticon{
    width: 15px;
}
.shareicon{
    width: 15px;
}
.hearticon:hover {
    color: red;
}
.shareicon:hover {
    color: blue;
}
.rating_like_share {
    display: flex;
    justify-content: space-between;
}
.location_icon{
    width: 20px;
    font-size: x-large;
}

/* styling the h3 inside the section 2 of the right container */
.rightcontainer_section2 h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

/* styling the hotel facilities div */
.hotel_facilities_div{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 2%;
}

/* styling the first hotel facility */
.first_list_item{
    list-style-type: none;
}


/* styling the right container's a tag */
.rightcontainer_section2 ul li a {
    text-decoration: none;
}

.rightcontainer_section2 {
    padding-left: 0%;
    margin-left: 0%;
    margin-bottom: 2%;
}

/* styling the p inside the section 2 of the right container */
.rightcontainer_section2 p {
    margin-top: 0.2rem;
    margin-bottom: 0rem;
}

/* styling the first li of ul inside section2 of right container */
.rightcontainer_section2 ul li:first-child {
    list-style: none;
}

/* styling the ul tag inside the right container */
.rightcontainer_section2 ul {
    display: flex;
    gap: 7%;
    flex-wrap: wrap;
    padding-left: 0px;
    text-align: start;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

/* styling the container containing the price and button in the last section of the right container*/
.rightcontainer_section3 {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin-bottom: 2%;
}

/* styling the hotel pricing */
.hotel_price {
    color: black;
}

/* styling the select room button in the last section of the right container */
.Select_room_button {
    box-sizing: border-box;
    border-radius: 10px;
    width: 20%;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 1%;
}
.Select_room_button:hover {
    background-color: antiquewhite;
    color: black;
    box-shadow: 5px 5px 5px rgb(117, 116, 116);
}

/* 
styling the container containg the toggle buttons */
.toggle_button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5%;
    margin: 3%;
}

/* styling the toggle buttons */
.toggle_buttons {
    border-radius: 5px;
    padding: 1%;
    border: none;
    cursor: pointer;
    background-color: rgb(216, 204, 189);
}
.toggle_buttons:hover{
    box-shadow: 2px 3px 3px black;
}

/* styling the hotel pricing */
.hotel_pricing {
    color: black;
    font-size: 1.5rem;
}

/* styling the background of the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* styling the popup container */
.popup_content {
    background-color: whitesmoke;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 40%;
    height: 80%;
    text-align: justify;
    position: relative;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: auto;
}

/* style for the closing the popup container */
.close {
    color: #aaa;
    float: right;
    font-size: 45px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.filter_button {
   
   /* position: static; */
   /* float: right; */
   margin-bottom: 20px;
   position:fixed;
   top: 80px; 
   right: 20px;
   display: none; /* Initially hide the filter button */
    /* border: 2px solid red; */
    /* z-index: 3; */
  }
  
  .filter_button button {
    background-color:#cfcbcb;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10%;
    font-size: 1rem;
    cursor: pointer;
  }
  

/* adding media queries for screen widths less or equal to 760px */
@media screen and (max-width: 760px) {
    .hotel_list_maincontainer {
        display: flex;
        flex-direction: column;
    }

    .hotel_list_leftcontainer {
        width: 100%;
    }

    .hotel_list_rightcontainer {
        width: 100%;
        height: 300px;
    }
    .container_image {
        width: 100%;
        height: 23em;
       
    }

    .popup_content{
        width: 80%;        
    }

    .filter_button {
        display: block; /* Show the filter button in mobile view */
      }

     

    .FitlerHotels {
        display: none; /* Hide the filter block on small screens */
      }
     
    .hotelpages{
        width: 100%;
        /* border: 2px solid red; */
      }

      .IconFilter {
        position:fixed;
        top: 10px; 
        right: 20px; 
        background-color: white;
        z-index: 3; 
        width: auto;
      }

      
      

       .filter_popup {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .filter_text {
        margin: 0;
      }
      
      .closebtn {
        cursor: pointer;
        color:black;
        font-size: 1.8rem;
        margin: 0;
      }

      .mobile{
        margin: 0px;
        border: 2px solid green;
      }
    
}
