/* styles for form container */
.formContainer {
  display: flex;
  flex-wrap: wrap;
}
/* styles for div that span 50% under the form container - flex grow , flex shrink and flex basis shorthand */
.colsHalf {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 0 15px;
}
/* styles for  div that span 100% under the form container - flex grow , flex shrink and flex basis shorthand */
.colsFull {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 0 15px;
}
/* styles for labels inside container */
.form_label {
  font-size: 16px;
  margin: 10px 0;
  display: block;
  color: rgba(0, 0, 0, 0.7);
  width: fit-content;
}
/* styles for button to accept id */
.idProof {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: rgba(43, 39, 241, 0.707);
  margin: 2% 6%;
}
/* style to have red astricks on lables that are marked required */
.required::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

/* styles for input fields within a form container */
.form_inputs {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

/* styles to add margins in gender radio box selection */
.gender_label {
  margin-right: 20px;
}

/* stylrs for address fields */
.addressField {
  box-sizing: border-box;
  width: 100%;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
}
