/* Styles for whole section2 container --------------Starts Here-----------------*/
.section2 {
  display: flex;
  margin: 3%;
}

/* left and right divisions of section2 */
.section2-div {
  width: 50%;
  margin: 10px;
}
.right-content > h1:first-child {
  font-size: var(--secondary-heading-web);
}
.left-image {
  padding-right: 10%;
}
/* styles to obtain the likes and ratings over the left side of section two */
/* Likes and Ratings styles-------------------------- start here ------------ */
.left-image {
  position: relative;
}
/* star on top left corner of image present in section 2 */
.adImage {
  position: relative;
  width: 100%;
  height: 100%;
}
.star-top {
  position: absolute;
  width: 20%;
  height: 20%;
  top: -10%;
  left: -10%;
}

.likes-display {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(240, 248, 255, 0.8);
  width: 50%;
  /* height: 18%; */
  bottom: 4%;
  left: 6%;
  border-radius: 10px;
}

.outer-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.outer-image > img {
  width: 18%;
  z-index: 2;
  position: absolute;
  top: -15%;
  left: -10%;
}

.client-rating-display {
  display: flex;
  position: relative;
}
.client-rating-display > div:nth-child(1) {
  box-sizing: border-box;
  padding-left: 10%;
  width: 70%;
  position: relative;
}
.ratings {
  padding-right: 5%;
  width: 30%;
}
.ratings .star {
  color: #fff700;
}
.inner-images {
  position: relative;
}
.inner-images > img {
  border-radius: 100%;
  width: 20%;
  position: absolute;
}
/* positioning of images in client rating display ------- */
.inner-images > img:nth-child(1) {
  top: 0;
  left: 0px;
  z-index: 1;
}
.inner-images > img:nth-child(2) {
  top: 0px;
  left: 14%;
  z-index: 2;
}
.inner-images > img:nth-child(3) {
  top: 0px;
  left: 28%;
  z-index: 3;
}
.inner-images > img:nth-child(4) {
  top: 0px;
  left: 42%;
  z-index: 4;
}
/* --------------Likes and Rating Styles end here ---------------*/

/* Right division of the section */
.adImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* to display the highlighting services in grid format */
.inner-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: inherit;
  gap: 5px;
  /* margin: 5% 0; */
}
/* to have a circular background for icons displayed*/
.fa-solid {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

/* to change the color of icons and faded background for icons Starts here ----------- */
.fa-utensils {
  color: rgb(51, 225, 222);
  background-color: rgba(51, 225, 222, 0.2);
}
.fa-stopwatch {
  color: rgb(223, 58, 82);
  background-color: rgba(223, 58, 82, 0.2);
}
.fa-shield {
  color: rgb(226, 81, 3);
  background-color: rgba(226, 81, 3, 0.2);
}
.fa-bolt {
  color: rgb(48, 253, 185);
  background-color: rgba(48, 253, 185, 0.2);
}
/* icons with fadded background style ends here */

/* Adding animation features-------- */
/* image rotation */
@keyframes image-rotation {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}
.star-top{
  animation-name: image-rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
/* animations in like button in likes display */
@keyframes like-button {
  0% {
      transform: translate(0%, 0%) rotate(0deg);
  }
  50% {
      transform: translate(-50%, -150%) rotate(-90deg);
  }
  100% {
      transform: translate(0%, 0%) rotate(0deg);
  }
}

.outer-image>img:hover{
  
  animation: like-button 2s 1;
  
  
}


/* mobile responsive styling -------------------------starts here--------------------  */

@media screen and (max-width: 760px){
  .section2,.inner-grid-container{
    display: flex;
    flex-direction: column;
}
.section2-div{
    width: 100%;
}
.right-content >h1:first-child{
    font-size: var(--secondary-heading-mobile);
}

.grid-content > h3, .grid-content> i {
  display: inline-flex; 
  margin-right: 10px; 
}
}

/* mobile responsive styling -------------------------ends here--------------------  */

/* Section 2 Styling --------------------------Ends Here--------------------------------------- */
