/* Common Styles for Both Desktop and Mobile */
.section-3 {
  height: auto;
  text-align: center;
  padding: 1% 0;
}

.section3-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1% auto;
}

.section-3 > h2:first-child {
  font-size: var(--secondary-heading-web);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23%;
  margin: 1%;
}

.card img {
  max-width: 100%;
  border-radius: 4%;
}

.hotel-img {
  position: relative;
}

.location-btn {
  position: absolute;
  padding: 2.2%;
  border-radius: 15px;
  background-color: black;
  color: white;
  bottom: 5%;
  left: 2%;
  border: none;
}

.card h3{
  margin: 5px 0 0;
  color: black;
}

.fig-caption>h4{
  margin: 0;
}

.fig-caption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.fig-caption > h4:first-child {
  color: aquamarine;
}

.fig-caption .rate {
  color: rgb(5, 156, 156);
}

.fig-caption .rating {
  color: black;
  margin-right: 1em;
}

.star {
  color: #FDCC0D;
}

/* Mobile Styles */
@media screen and (max-width: 760px) {
  .section-3 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 0.5%;
  }

  .section-3 > h2:first-child {
    font-size: var(--secondary-heading-mobile);
  }

  .section3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1px auto 1px auto;
  }

  .card {
    width: 90%;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    padding: 1%;
  }

  .card img {
    max-width: 100%;
    max-height: 100%;
  }

  .hotel-img {
    width: 100%;
    position: relative;
  }

  .hotel-img img {
    border-radius: 4%;
    width: 100%;
  }

  .location-btn {
    position: absolute;
    width: auto;
    height: auto;
    left: 2%;
    bottom: 5%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    color: white;
    background-color: black;
  }

  .card h3 {
    margin: 10px 0 0;
    color: black;
  }

  .fig-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: 10px;
    margin-top: 5px;
  }

  .fig-caption h4 {
    margin: 0;
    color: aquamarine;
    text-align: left;
  }

  .fig-caption .rating {
    margin-left: 10px;
    color: black;
  }

  .rate {
    color: rgb(0, 255, 255);
  }

  .star {
    color: #FDCC0D;
  }

}
