/* Add your styles here */
.section-about {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.section-about h5 {
  margin-top: 0px;
  font-size: 2rem;
  margin-bottom: 10px;
}
h5::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d0c1c1;
  margin-top: 10px;
}

.icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  width: 50px;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 15px;
  margin-right: 15px;
  background-color: #eeecec;
  border-radius: 10px;
}
.image-box:hover {
  background-color: antiquewhite;
}
.icons img {
  width: 25px;
  height: auto;
}
.section-about p {
  margin-bottom: 10px;
  color: #898484;
}
.section-about h1 {
  font-size: 1.4rem;
  margin: 5px 0;
}
.advantages {
  margin: 10px 0;
  color: #898484;
}
.advantages img {
  margin-right: 5px;
  size: 12px;
}