.hotel-options-content {
  margin: 2%;
}

/* styling the hotel policies content */
.hotel-options-content {
  line-height: 2rem;
  text-align: justify;
}

/* styling the hotel policies main container */
.hotel-policies-maincontainer {
  margin-bottom: 2%;
}
