/* footer section styling begins here */
/* styling the div containing the logo and sub texts */

/* styling the entire footer */
.footer_container {
  width: 100%;
  background-color: rgb(32, 31, 31);
}

footer {
  max-width: 1320px;
  margin: auto;
  background-color: rgb(32, 31, 31);
  box-sizing: border-box;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.first_footer_div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

/* styling the logo */
.footerlogo {
  width: 35%;
  margin-bottom: 5%;
}

.footersection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* styling the div containing set of lists */
.list_div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

/* styling the div containg the ul */
.list_footer {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: fit-content;
}

/* styling to remove text decoration on a tag */
footer a {
  text-decoration: none;
  color: rgb(212, 209, 209);
}

/* applying style to li tag */
footer ul li {
  list-style: none;
  line-height: 30px;
}

/* applying style to h3 tag */
footer h3 {
  color: white;
}

.footersection > p {
  color: rgb(212, 209, 209);
  margin-top: 0rem;
  margin-bottom: 0rem;
  line-height: 20px;
}

.admin_logo {
  font-size: x-large;
}

/* styling the top links div */
.footer_top_links_div {
  display: flex;
  flex-wrap: wrap;
  padding-right: 5%;
}

/* styling the h3 tag inside top links div */
#footer_top_links_h3 {
  margin-bottom: 0.5rem;
}

/* styling the a tag inside top links div */
.footer_top_links_a {
  margin-right: 25px;
  line-height: 30px;
}

/* styling the div containg payment and follow us part */
.footer_bottom_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}

/* styling the payment and security div */
.footer_payment_and_security_div {
  display: flex;
  gap: 3%;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

/* styling the payment and security icons div */
.ps_icons {
  display: flex;
  gap: 4%;
  font-size: xx-large;
}

/* styling the follow us div */
.footer_follow_us_div {
  display: flex;
  gap: 2%;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  flex-wrap: wrap;
}

/* styling the follow us icons div */
.fu_icons {
  display: flex;
  width: 100%;
  gap: 4%;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: xx-large;
}

/* styling footer copyright text */
#footer_copyright_text {
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

/* footer section styling ends here */

/* footer styles for--------------- screen width less or equal to 760px ------------ */

@media screen and (max-width: 760px) {
  /* footer section styling begins here ------------------------------------*/

  footer {
    width: 100%;
    background-color: rgb(32, 31, 31);
    box-sizing: border-box;
    padding: 25px;
  }

  /* styling the div containing the logo and sub texts */
  .first_footer_div {
    width: 100%;
  }

  /* styling the div containing set of lists */
  .list_div {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1fr;
  }

  .footersection {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer ul {
    padding: 0rem;
  }

  /* styling the top links div */
  .footer_top_links_div {
    padding-right: 10px;
  }

  /* styling the a tag inside top links div */
  .footer_top_links_a {
    margin-right: 15px;
    line-height: 30px;
  }

  /* styling the div containg payment and follow us part */
  .footer_bottom_div {
    display: flex;
    gap: 10%;
    flex-direction: column;
  }

  .footer_follow_us_div {
    display: flex;
    gap: 2%;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }

  .fu_icons {
    display: flex;
    width: 100%;
    gap: 4%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  /* footer section styling ends here ---------------------------------*/
}
